services:
  worker-code-runner:
    build: .
    command: ["node", "dist/workers/codeRunnerWorker.js"]
    env_file:
      - .env
    deploy:
      replicas: 1   # can scale dynamically
    networks:
      - coding-platform

  worker-db-ops:
    build: .
    command: ["node", "dist/workers/dbOperationWorker.js"]
    env_file:
      - .env
    deploy:
      replicas: 1
    networks:
      - coding-platform

  worker-submission-runner:
    build: .
    command: ["node", "dist/workers/submissionRunnerWorker.js"]
    env_file:
      - .env
    deploy:
      replicas: 1
    networks:
      - coding-platform

networks:
  coding-platform:
    external: true
